<div class="row">
    <h4>The following candidates were invited to participate and received several 
    reminders, but to date they have been non-responsive.</h4>
</div>
<% @candidates.each do |candidate| %>
    <% if candidate.responded == 0 %>    
        <div class="row">
            <h5><%= candidate.name %></h4>
        </div>
        <div class="row">
            <p><%= candidate.race %></p>
            <br>
        </div>
    <% end %>
<% end %>