<h1>Candidate Responses</h1>
<h2> <%= candidate.name %> </h2>
<p>In addition to answering the 20 survey questions, this candidate provided the following elaboration of 
    his positions regarding several progressive issues.
</p>
<% if candidate.section1 %>

<% end %>

