<a href="<%= candidate.facebook %>" class="facebook">
    <span class="fa-stack fa-lg facebook">
        <i class="fa fa-circle fa-stack-2x"></i>
        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
    </span></a>