<% provide(:title, 'Edit Candidate') %>
<% provide(:button_text, 'Save Changes') %>
<h1>Edit a Candidate</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'candidateform' %>
  </div>
</div>