<% provide(:title, "Home") %>
<div id="page">
    <div class="row">
        <div class="text-container">
            <h1>Candidate Ratings based on Progressive Questionaire</h1>
            <h2>2018 Candidate Assessment and Voter Awareness Initiative</h2>
            <div class="content hideContent">
                    <p>
                        The energy and resources ready and waiting to support Progressive Democratic candidates 
                        are at an all-time high. The Polk County Progressive Democratic Caucus (PCPDC) Candidate 
                        Assessment and Voter Awareness Initiative was established to provide a reference for declared 
                        Progressives and other Democrats and independents with progressive values to determine where 
                        to focus their energy and resources.
                    </p>
                    <p>
                        Questionnaires were sent to all candidates who have filed as Democrats for national or state
                        offices that touch on Polk county. A select committee of PCPDC members is in place to apply 
                        predefined criteria in an objective blind evaluation of candidate responses as they are received. 
                        The questionnaires reflect a Progressive Democratic agenda. In fact, the questions were derived 
                        directly from the Democratic Progressive Caucus of Florida’s platform.
                    </p>
                    <p>
                        The evaluation rating indicates each candidate’s level of support for the progressive agenda. 
                        In accordance with Florida Democratic Party bylaws, these evaluation ratings are not intended 
                        to imply endorsement during this primary season, but rather to inform progressive minded voters
                        within the county of each candidate’s overall alignment with progressive values.
                    </p>
                    <p>
                        While all candidates were invited to participate in this initiative, not all have chosen to do so. 
                        We will continue to issue reminders from time to time, and will update postings with evaluations 
                        of new responses as they are received.
                    </p>
            </div>
            <div class="show-more">
                <a>Show more</a>
            </div>
        </div>​
    </div>
    <div class="row">
        <span><h3>2018 Candidate Assessment and Voter Awareness Initiative</h2></span>
    </div>
</div>
<%= render 'candidates/candidatecard'%>
<br>
<%= render 'candidates/absentCandidateList'%>