<% provide(:title, 'All candidates') %>
<h1>All candidates</h1>

<ul class="users">
  <% @candidates.each do |candidate| %>
    <li>
      <%= image_for candidate %>
      <%= link_to candidate.name, candidate %>
    </li>
  <% end %>
</ul>