<body>
    <h1>Barbara Cady’s Position Statements on Progressive Issues</h1>
    <h2>Candidate for Florida House District 42<h2>

    <p>
        In addition to answering the 20 survey questions, this candidate provided the following 
        elaboration of her positions regarding several progressive issues.
    </p>

    <h4>Seeking a fair, honest, and open government that works for all</h4>
    <p>I have actively participated in the effort to obtain 750,000 signatures from 
    Central Floridians to support this effort.
    </p>

    <h4>Seeking broader rights and better wages for workers</h4>
    <p>Universal daycare was almost passed in the 1970s. This necessity 
    for working families is long overdue and is critical to work life balance 
    of today’s working families.
    </p>

    <h4>Seeking to provide a quality public education for all children, as guaranteed by our State Constitution</h4>
    <p>I oppose for profit charter schools. I support a strong well funded public school system 
    where every American child has access to a progressive public education.
    </p>

    <h4>Seeking justice and equality for all</h4>
    <p>I have actively campaigned for the ratification of ERA in 
    Florida and continue to create awareness through various women’s advocacy groups.
    </p>

    <p>I support Planned Parenthood and actively protest against the infringement on women’s privacy 
    by state governments.</p>

    <h4>Seeking a clean and safe environment</h4>
    <p>I support funding to encourage the development and availability of 
    solar and other sustainable energy.</p>
</body>