<section class="marketing-site-three-up">
    <div class="row medium-unstack">
        <div class="columns">
            <i class="fa fa-mobile" aria-hidden="true"></i>
            <h4 class="marketing-site-three-up-title">Call Us</h4>
            <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
        </div>
        <div class="columns">
            <i class="fa fa-home" aria-hidden="true"></i>
            <h4 class="marketing-site-three-up-title">Address</h4>
            <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
        </div>
        <div class="columns">
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <h4 class="marketing-site-three-up-title">Email Us</h4>
            <p class="marketing-site-three-up-desc">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Commodi sint, voluptatibus eaque natus ad eius.</p>
        </div>
    </div>
</section>