<div class="card">
    <div class="card-image">
        <%= image_for candidate %>
    </div>
    <div class="overlay-text">
        <p>Candidate for <%= candidate.race %>.</p>
    </div>
    <div class="card-section">
        <h4 class="candidate-info"><%= candidate.name %></h4>
    </div>
</div>