<% provide(:title, "Candidate Forum") %>
<body>
    <div class="hero-section">
        <div class="hero-section-text">
            <h1>Header</h1>
            <h5>subtitle about anything you like</h5>
        </div>
    </div>

    <div id="speakers-section" data-magellan-target="speakers-section">
        <div class="row">
            <h1>Speakers</h1>
        </div>
        <div class="row">
            <% @candidates.each do |candidate| %>
                <% case @columnCount %>
                <% when 1 %>
                    <div class="small-12 large-4 columns">
                        <%= render 'event_page/speakerCard', candidate: candidate %>
                        <% @columnCount = 2 %>
                    </div>
                <% when 2 %>
                    <div class="small-12 large-4 columns">
                        <%= render 'event_page/speakerCard', candidate: candidate %>
                        <% @columnCount = 3 %>
                    </div>
                <% when 3 %>
                    <div class="small-12 large-4 columns">
                        <%= render 'event_page/speakerCard', candidate: candidate %>
                    </div>
                    <% @columnCount = 1 %>
                <% end %>
            <% end %>
        </div>
    </div>

    <div id="info-section" data-magellan-target="info-section">
        
    </div>

    <div id="schedule-section" data-magellan-target="schedule-section">
        
    </div>

    <div id="venue-section" data-magellan-target="venue-section">
        
    </div>

    <div id="photo-gallery-section" data-magellan-target="photo-gallery-section">
        <h3>A Four Image Set</h3>
        <div class="row">
            <div class="columns small-6 large-expand">
                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-3.jpg" data-lightbox="example-set" data-title="Click the right half of the image to move forward."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-3.jpg" alt=""/></a>
            </div>
            <div class="columns small-6 large-expand">
                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-4.jpg" data-lightbox="example-set" data-title="Or press the right arrow on your keyboard."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-4.jpg" alt="" /></a>
            </div>
            <div class="columns small-6 large-expand">
                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-5.jpg" data-lightbox="example-set" data-title="The next image in the set is preloaded as you're viewing."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-5.jpg" alt="" /></a>
            </div>
            <div class="columns small-6 large-expand">
                <a class="example-image-link" href="http://lokeshdhakar.com/projects/lightbox2/images/image-6.jpg" data-lightbox="example-set" data-title="Click anywhere outside the image or the X to the right to close."><img class="example-image" src="http://lokeshdhakar.com/projects/lightbox2/images/thumb-6.jpg" alt="" /></a>
            </div>
        </div>
    </div>

    <div id="faq-section" data-magellan-target="faq-section">
        <div class="row">
            <h2>FAQ</h2>
            <h5>Here is a list of answers to frequently asked questions about the forum.</h5>
        </div>
    </div>

    <div id="sponsors-section" data-magellan-target="sponsors-section">
        <h2>Event Sponsors</h2>
        <h5>Check out the great organizations that helped make this event possible</h5>
    </div>

    <div id="map-section" data-magellan-target="map-section">
        <div style='width: 800px;'>
            <div id="map" style='width: 800px; height: 400px;'></div>
        </div>
    </div>

    <div id="contact-section" data-magellan-target="contact-section">
        <%= render 'event_page/contactView' %>
    </div>

    <div class="scroll-top-wrapper ">
        <span class="scroll-top-inner">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
        </span>
    </div>
</body>
